@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --cor01: #280315;
    --cor02: #420c24;
    --cor03: #5f0823;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor02);
}
body {
    background-image: linear-gradient(to bottom, #280315, #420c24, #5f0823);
}
main {
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    background: #280315 url(../imagens/teladelogin.jpg);
    height: 200px;
    background-size: cover;
    background-position: left, center;
    display: block;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}